<div class="measure-progress">
<div class="title"><%= "#{description} (Total: #{total}#{total_units})" %></div>
  <div class="progress">
    <% values.each_with_index do |value, pos| %>
      <% if value.to_f < 15.0 %>
        <%= value %><%= units %>
      <% end %>
      <% list_of_colors = ['success','info', 'warning', 'danger'] %>
      <div class="progress-bar progress-bar-<%= list_of_colors[pos.modulo(list_of_colors.length)] %>" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= value %>%;">
        <% if value.to_f >= 15.0 %>
          <%= value %><%= units %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
